<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Requirements Editor"
            extensions="rqs"
            icon="icons/sample.gif"
            contributorClass="reqeditor.editors.MyReqEditorContributor"
            class="reqeditor.editors.MyReqEditor"
            id="reqeditor.editors.MyReqEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Requirements Editor"
            id="ReqEditor">
      </category>
      <wizard
            name="Requirements Editor file"
            icon="icons/sample.gif"
            category="ReqEditor"
            class="reqeditor.wizards.CreateRqsWizard"
            id="reqeditor.wizards.CreateRqsWizard">
            <description>Create a Requirements Editor file</description>
      </wizard>
   </extension>

   <extension 
       point="org.eclipse.ui.exportWizards"> 
      <category
            name="Requirements Editor"
            id="ReqEditor">
      </category>
      <wizard 
         name="Export requirements in rqs format" 
         icon="icons/sample.gif"
         category="ReqEditor"
         class="reqeditor.wizards.ExportRqsWizard"
         id="reqeditor.wizards.ExportRqsWizard">
         <description>Export a Requirements Editor file in rqs format</description>
      </wizard> 
   </extension> 

   <extension 
       point="org.eclipse.ui.exportWizards"> 
      <category
            name="Requirements Editor"
            id="ReqEditor">
      </category>
      <wizard 
         name="Export requirements in txt/ann format" 
         icon="icons/sample.gif"
         category="ReqEditor"
         class="reqeditor.wizards.ExportTxtAnnWizard"
         id="reqeditor.wizards.ExportTxtAnnWizard">
         <description>Export a Requirements Editor file in txt/ann format</description>
      </wizard> 
   </extension> 

   <extension 
       point="org.eclipse.ui.importWizards"> 
      <category
            name="Requirements Editor"
            id="ReqEditor">
      </category>
      <wizard 
         name="Import requirements from rqs format" 
         icon="icons/sample.gif"
         category="ReqEditor"
         class="reqeditor.wizards.ImportRqsWizard"
         id="reqeditor.wizards.ImportRqsWizard">
         <description>Import a Requirements Editor file from rqs format</description>
      </wizard> 
   </extension> 

   <extension 
       point="org.eclipse.ui.importWizards"> 
      <category
            name="Requirements Editor"
            id="ReqEditor">
      </category>
      <wizard 
         name="Import requirements from txt/ann format" 
         icon="icons/sample.gif"
         category="ReqEditor"
         class="reqeditor.wizards.ImportTxtAnnWizard"
         id="reqeditor.wizards.ImportTxtAnnWizard">
         <description>Import a Requirements Editor file from txt/ann format</description>
      </wizard> 
   </extension>

   <extension point="org.eclipse.ui.commands">
      <category id="SCaseReqEditor.commands.category" name="SCaseReqEditor Commands Category"/>
      <command categoryId="SCaseReqEditor.commands.category" id="SCaseReqEditor.commands.clearAnnotations" name="Clear all annotations"/>
      <command categoryId="SCaseReqEditor.commands.category" id="SCaseReqEditor.commands.autoAnnotate" name="Auto annotate"/>
      <command categoryId="SCaseReqEditor.commands.category" id="SCaseReqEditor.commands.exportAnnotations" name="Export annotations to ontology"/>
   </extension>

   <extension point="org.eclipse.ui.handlers">
      <handler class="reqeditor.handlers.ClearAllAnnotationsHandler" commandId="SCaseReqEditor.commands.clearAnnotations"/>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
            <command commandId="SCaseReqEditor.commands.clearAnnotations" id="SCaseReqEditor.menus.clearAnnotations" icon="icons/sample.gif">
                  <visibleWhen>
				           <with variable="activeMenuSelection">
				            <iterate ifEmpty="false">
				             <adapt type="org.eclipse.core.resources.IResource">
				               <test property="org.eclipse.core.resources.name" value="*rqs" />
				             </adapt>
				            </iterate>
				           </with>
                  </visibleWhen>
            </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.handlers">
      <handler class="reqeditor.handlers.AutoAnnotateHandler" commandId="SCaseReqEditor.commands.autoAnnotate"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
            <command commandId="SCaseReqEditor.commands.autoAnnotate" id="SCaseReqEditor.menus.autoAnnotate" icon="icons/sample.gif">
                  <visibleWhen>
				           <with variable="activeMenuSelection">
				            <iterate ifEmpty="false">
				             <adapt type="org.eclipse.core.resources.IResource">
				               <test property="org.eclipse.core.resources.name" value="*rqs" />
				             </adapt>
				            </iterate>
				           </with>
                  </visibleWhen>
            </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.handlers">
      <handler class="reqeditor.handlers.ExportToOntologyHandler" commandId="SCaseReqEditor.commands.exportAnnotations"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
            <command commandId="SCaseReqEditor.commands.exportAnnotations" id="SCaseReqEditor.menus.exportAnnotations" icon="icons/sample.gif">
                  <visibleWhen>
				           <with variable="activeMenuSelection">
				            <iterate ifEmpty="false">
				             <adapt type="org.eclipse.core.resources.IResource">
				               <test property="org.eclipse.core.resources.name" value="*rqs" />
				             </adapt>
				            </iterate>
				           </with>
                  </visibleWhen>
            </command>
      </menuContribution>
   </extension>

</plugin>
